{#include layout/reader}
{#title}{article.headline} – {page.name}{/title}
<main data-view="article">
  {#masthead page=page linked=true /}
  <article class="article">
    {#sectionTag section=article.section /}
    {#if article.kicker}
    <p class="kicker">{article.kicker}</p>
    {/if}
    <h1 class="headline">{article.headline}</h1>
    {#if article.subheadline}
    <p class="subheadline">{article.subheadline}</p>
    {/if}
    {#if article.leadImage}
    {#leadImage image=article.leadImage kind="web" sizes="(min-width: 60rem) 60rem, 100vw" /}
    {/if}
    {#if article.lead}
    <p class="lead">{article.lead}</p>
    {/if}
    <p class="byline">{msg:byline(article.byline)} · <time datetime="{article.publishedAt.isoDate}">{msg:published(article.publishedAt.longDate)}</time>{#if article.updated} · <time datetime="{article.revisedAt.isoDate}">{msg:updated(article.revisedAt.longDate)}</time>{/if}</p>
    <p class="print-link"><a href="/print/article/{article.id}">{msg:print}</a></p>
    {#articleBody blocks=blocks print=false /}
  </article>
</main>
{/include}
