{#include layout/reader}
<main data-view="frontpage">
  {#masthead page=page linked=false /}
  {#if loginRequired}
  <p class="note">{msg:privateNote} <a href="/login">{msg:login}</a></p>
  {#else if noAccess}
  <p class="note">{msg:noAccessNote}</p>
  {#else if leadStory}
  <div class="stories">
    {#story article=leadStory cls="lead-article" /}
    {#for other in stories}
    {#story article=other cls="article-card" /}
    {/for}
  </div>
  {#else}
  <p class="note">{msg:emptyNote}</p>
  {/if}
</main>
{/include}
