<!DOCTYPE html>
<html lang="{page.lang}" data-text-size="{page.textSize}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{#insert title}{page.name}{/}</title>
  <link rel="icon" href="{page.icons.svg}" type="image/svg+xml">
  <link rel="icon" href="{page.icons.ico}" sizes="48x48">
  <link rel="apple-touch-icon" href="{page.icons.touch}">
  <link rel="stylesheet" href="/reader/reader.css">
  {#if page.customCss}
  <link rel="stylesheet" href="/theme/custom.css">
  {/if}
  {#insert scripts}{/}
</head>
<body>
{#insert}{/}
{#insert footer}
{#if page.legalNotice}
<footer class="presserl-footer">
  <a href="/legal-notice">{msg:legalNotice}</a>
</footer>
{/if}
{/insert}
</body>
</html>
