<header class="masthead">
  <div class="masthead__tools">
    {#if page.viewerName}
    <p class="masthead__viewer">{msg:loggedInAs(page.viewerName)} · <a href="/logout">{msg:logout}</a></p>
    {/if}
    {#textSizeSwitch page=page /}
  </div>
  {#if linked}
  <p class="masthead__name"><a href="/">{page.name}</a></p>
  {#else}
  <h1 class="masthead__name">{page.name}</h1>
  {/if}
  {#if page.subtitle}
  <p class="masthead__subtitle">{page.subtitle}</p>
  {/if}
</header>
{#sectionBar sections=page.sections /}
