Offenlegung gemäß § 25 Mediengesetz

Medieninhaber: Vorname Nachname, Wohnort, Österreich

Grundlegende Richtung: Diese Zeitung ist eine private, nicht kommerzielle Zeitung, in der Kinder über ihren Alltag, ihre Interessen und ihre Umgebung schreiben.
