<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Hands the camera app a file in the cache for "take photo"; no storage or camera permission needed. -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.photos"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/presserl_photo_paths" />
        </provider>
    </application>
</manifest>
